
<div class="main col s7 m7 l7" id="code">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card white">
        <div append class="card-content blue-grey-text darken-3">
          <!-- This is where the code editor goes (as defined in the append custom directive) -->
        </div>
        <div class="card-action">
          <a ng-click="submit()">Run It</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card white">
        <div class="card-content blue-grey-text darken-3">

          <span class="card-title">Save Your Snippet</span>

          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="user_name" type="text" class="validate" ng-model='form.username'>
                  <label for="user_name">Username</label>
                </div>
                <div class="input-field col s6">
                  <input id="title" type="text" class="validate" ng-model='form.title'>
                  <label for="title">Title</label>
                </div>
              </div>
            </form>
          </div>

          <div class="card-action">
            <a ng-click="save()">Save It</a>
            <span ng-show="snippets.save">Please Enter a Username and Title</span>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<!-- Side Panel with examples and user generated examples -->
<div class="col s5 m5 l5">
  <div class="row">  
    <ul id='snips' class="collection with-header blue-grey-text darken-3">
      <li class="collection-header"><h5>Community Snippets</h5><a ng-click='getSnippets()'>Refresh</a></li>
      <a ng-repeat='snippet in snippets.vals' href="#/code" class="collection-item" ng-click='updateEditor(snippet.snippet); snippets.selected = $index' ng-class='{"active": snippets.selected === $index}'>{{ snippet.title }} - {{ snippet.username }}, {{ snippet.timestamps.slice(0,10)}}</a>
    </ul>
  </div>
  <!-- This will be an angular directive to populate  -->
</div>


<div class="main col s5 m5 l5" id="about">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card white">
        <div class="card-content blue-grey-text darken-3">
          <span class="card-title">Getting Started</span>
          <p>
            Each of the verbs listed below is a function that returns a Promise of it's associated sound. Each Promise resolves when the clip ends in order to facilitate chaining, however there is no need to stick to a rigid one-by-one chaining structure, events can be fired simultaneously or really in any order you want. Use this sandbox to understand and conceptualize how promises are resolved, and get creative! Look at the examples for some inpiration. And check out this <a href="https://pouchdb.com/2015/05/18/we-have-a-problem-with-promises.html">great article</a> to read up on what's going on here.
          </p>
          <ul>
            <li><h5>Audio Clips:</h5></li>
            <li>drumming        -- 8 bars</li>
            <li>latinStrumming  -- 4 bars</li>
            <li>latinWalking1   -- 8 bars</li>
            <li>latinWalking2   -- 4 bars</li>
            <li>grooving        -- 8 bars</li>
            <li>strumming1      -- 4 bars</li>
            <li>strumming2      -- 4 bars</li>
            <li>strumming3      -- 4 bars</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





